<a href="https://colab.research.google.com/github/r-ranjithlingaiah/ranjithpython/blob/main/Module1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Modeul1

In [ ]:
#---->single line commenting
#what is multiline comminting?---->""" """, ''' '''

In [ ]:
#write a print "hello world" program in python?

print("Hello world!")
#using print()

Hello world!

In [ ]:
print(type(-2))

<class 'int'>

In [ ]:
#3complex number: - a whole number with imaginary part suppose to call as complex number

print(5+2j)
print(type(5+2j))

(5+2j)
<class 'complex'>

#arthamatic operators

In [ ]:
#Numerical Data types in python
#There are 3 types of imp numerical data types
#what is integer?
#a  whole  no either it is +ve or -ve
print(2)
#use type() to know the type of a data
print(type(2))

2
<class 'int'>

In [ ]:
#7 AO
#Addition---> +
print(2+3)
#substraction
print(10 - 5)
#multiplication--->*
print(10 * 5)
#division-----> /
print(10 / 5)
print(10/3)

5
5
50
2.0
3.3333333333333335

In [ ]:
#modulus:--- %--->noting but remainder of a division operation
print(10%5)

#write a program to identify weather given number is even or odd?

a = 5
if a % 2 == 0:
  print("number is even")
else:
  print("number is odd")

0
number is odd

In [ ]:
#exponential------> **
# to the power off

print(2**4)

16

In [ ]:
"""floor divison-->it will takes the number before decimal point
means ignores the number after decimal point"""

print(10 // 5)
print(10 / 3)
print(10 // 3)

2
3.3333333333333335
3

In [ ]:
#2.Float
#a whole number either +ve or -ve with decimal points
print(2.333)
#fint the type of above data e;lement
print(type(2.33))

#erros

In [ ]:
#how many types erros in programming ?
#2 types
#1.syntax error--->breaking rules of a programming language
print(10**5)
print(10 ** 5)
print(10 * * 5)

SyntaxError: invalid syntax (<ipython-input-26-8de13a38fd49>, line 6)

In [ ]:
"""hi
santosh,
hoppe u r doing well"""

'hi \nsantosh,\nhoppe u r doing well'

In [ ]:
#logical error: nonother than syntax error all errors are logical errors

print(b + 10)

NameError: name 'b' is not defined

In [ ]:
#round()--->it will prints specific characters
print(10/3)
print(round(10/3))
#print 1st two decimal numbers?
#input is 2.546789 printfirst 3 decimal number?

3.3333333333333335
3

In [ ]:
print(round(2.9999,2))

3.0

In [ ]:
print(round(3.3333))

3

#variables

In [ ]:
#what is variables?
#is nothing bua a container where we cxan store our data or information and reuse it
#how to create a variable?
#how to access a varibale?


a = 10
b = 5
print(a + b)
print( a - b)

15
5

In [ ]:
#diff b/w dynamically typed and stastisticall typed?
#dynamically typed:- no need to define data type for varaible
#stastisticall typed:- define data type for the varaible

In [ ]:
a = 4.456
print(round(a,2))
print(type(a))

4.46
<class 'float'>

In [ ]:
#Interpreted programming language-->every line excuted one step ahead in a line
a = 5
print(a)

5

In [ ]:
a = 10
print(a)

10

In [ ]:
print(a)

10

In [ ]:
print(A)

NameError: name 'A' is not defined

In [ ]:
#smart ways of writing variables
#Assign multiple values to multiple variable
x,y,z = 10,20,30
# print(x)
# print(y)
# print(z)
print(x,y,z, sep="\n")  #sep= backward slash n("\n")

10
20
30

In [ ]:
#one value to many varaibles
x = y = z = 10
print(x,y,z, sep="\n")

10
10
10

In [ ]:
x,y,z = 10
print(x,y,z, sep="\n")

TypeError: cannot unpack non-iterable int object

In [ ]:
#rules to create a variable?
"""1. start the varibles with alphbets
  2. dont start with numeric values
  3. if you follow rule 1 and 2 star with alphabets inbetween use numerics
  4.star with_
  5.dont give the spaces in between variables"""

In [ ]:
sk sha = 10
print(sk sha)

SyntaxError: invalid syntax (<ipython-input-32-46f896c0ca6c>, line 1)

#input()

In [ ]:
#intake of the information/data
#how to take an input fuinction?
x = input()
print(x)

hello world!
hello world!

In [ ]:
x = input("please enter your text message: ")
print(x)

please enter your text message: hello hi i am shahul welcome to ds
hello hi i am shahul welcome to ds

In [ ]:
shahul = """Hi Team
Hope your doing well. this mail is regarding your module 1 training updates
pleasew practice daily

Best rgards
shahul"""

In [ ]:
mail = input(shahul)
print(x)

Hi Team
Hope your doing well. this mail is regarding your module 1 training updates
pleasew practice daily

Best rgards
shahul

In [ ]:
a = input()
print(a)
print(type(a))
#what is the default data type fopr inpuit()?
#str

10
10
<class 'str'>

In [ ]:
#Note: str and float cannot change to int but int can change to vise versa

#module-2

 1.srting

2. conditional statements

3. loops

In [ ]:
#String:
#what is string :- collection of multiple characters being taken.
#how can we decalre a string?--->(" ")(' ')
print("hello world!")
#Note:- each and every character in string is acccesible

In [ ]:
#indexing:-- index number of each character in astring
#slicing operators:- ---[]--->by using the slicing operators and with help of indexing we can access each element

In [ ]:
#print each element in a string
[star]
a = "Hello world!"
print(a[2])
print(type(a[2]))

l
<class 'str'>

In [ ]:
#print range of values
#[start:end]
a = "Hello world!"
print(a[0:6])     #to print specific range of element you should have increase or add postion with 1--n+1

Hello

In [ ]:
print(a[0:5])

Hello

In [ ]:
#print world from above string
print(a[6:12])
#end value always n+1

world!

In [ ]:
#[start:end:step]
a = "hello world!"
#print "Hlowrd" from above string?
b = a[0:2]
c = a[9:11]
print(b)
print(c)
print(b+c)

he
ld
held

In [ ]:
#default slicing operators
a = "Hello world!"
print(a[:])
print(a[0:12:2])
print(a[::2])

Hello world!
Hlowrd
Hlowrd

In [ ]:
#negative indexing: use -ve index position numbers to access the characters in reverse direction
a = "Hello world!"
print(a[1:-6])

ello

In [ ]:
#reverse a strin
a = "Hello world!"
print(a[-1:-11:-2])

!lo l

In [ ]:
#write a program weather given string is palindrome or not?
a = input()
print(a)
print(a[::-1])

zenvius
zenvius
suivnez

In [ ]:
x = "hello world!"
#function to check all the avialble methods---->dir()
print(x)
print(dir(x))
#what are all methods applicable on an object?
#for that we are using 'dir()' to find the string methods

hello world!
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#important string methods
"""1. capitalize
   2. lower
   3. lstrip
   4. rstrip
   5. split
   6. strip
   7. title
   8. upper
   9. replace
   10. swapcase """

In [ ]:
x = "hello world!"
print(x.capitalize())

Hello world!

In [ ]:
x = "Hello WORLD"
print(x.lower())

hello world

In [ ]:
x = "     Good   "
print(x.lstrip())
print(x.split())
print(x.rsplit)
print(x.title)

In [ ]:
# in hello world program replace world with universe-->hello universe
x = "Hello world!"
print(x.replace('world!','Universe'))

Hello Universe

In [ ]:
#format()-->method-->is used to fill the placeholders with specific input
#it takes an argument  and placed in placeholder{} in a string
age = 10
txt = "my age is "
print(txt + str(age))
#concatination-->addition of 2 strings or sentences

my age is 10

In [ ]:
age = 10
txt = 'my age is {}'
print(txt.format(age))

my age is 10

In [ ]:
#f'string method-->format method to fill the placeholders with arguments
item = 'product A'
price = 99.99
quantity = 10

print(f'your order fopr {quantity} quantities of {item} price at {price*quantity} is confirmed.')

your order fopr 10 quantities of product A price at 999.9 is confirmed.

In [ ]:
#escape characters
x = float(input())
print(f'the number u have entered is {x} and its double is {x*2}')

2.46
the number u have entered is 2.46 and its double is 4.92

In [ ]:
print("Dwayne \"The Rock\" Jhonson")
#escape characters---> if u want to print illegal characters --->\--\

Dwayne "The Rock" Jhonson

In [ ]:
#Conditional statements:-

print(10 == 10)
print(10 != 10)
""" >,
    <
    >=
    <= """

True
False

In [ ]:
print("hello" == "Hello")

False

In [ ]:
marks = 50
passing_marks = 30  #40 is pass marks
#write a progra, to check grades
if passing_marks >= 40:
  print("congratulations")
  print("you have passed")
  print(f"you have passed with {passing_marks} marks")
else:
  print("you have failed")
  print(f'you have filed with {passing_marks} marks')
  print("better luck next time")

you have failed
you have filed eith 30 marks
better luck next time

#loops

In [ ]:
#why we use the loops?

In [ ]:
#why we use the loops?
"""dry code
d== dont
r==repeat
y==your self
wet code
w==write
e==everything
t==twice"""
#two types of loops in puthon
#while loop
# for loop

In [ ]:
#while
#what is whilw loop?
#while loop-- works/runs a set of instructions as lond ascondition remains true

In [ ]:
intial = 1
while intial <= 5:
  print("go up")
  print("go down")
  print("===rep complted====")
  intial = intial + 1

go up
go down
===rep complted====
go up
go down
===rep complted====
go up
go down
===rep complted====
go up
go down
===rep complted====
go up
go down
===rep complted====

In [ ]:
ground = 0
while ground <= 4:
  ground = ground+1
  if ground == 4:
       print("you have reached 4th floor")
       print("gates open")
       print('++++++++++++++++++++++++++++++++++++++++')
       if ground == 1:
        print("you reached 1st floor")
       else:
        print("plase close the door")
  else:
    print("pleaseclose the door")

pleaseclose the door
pleaseclose the door
pleaseclose the door
you have reached 4th floor
gates open
++++++++++++++++++++++++++++++++++++++++
plase close the door
pleaseclose the door

In [ ]:
num = [10,20,30,40,50]
mul = []
#write a program to print num *2?

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [ ]:
#what is break:- it stops the entire loop irrespective all the items in a collection
num = [10,20,30,40,50]
for x in num:
  if x == 30:
    continue
  print(x)

10
20
40
50

In [ ]:
#what is continue?
num = [10,20,30,40,50]
for x in num:
  if x == 30:
    break
  print(x)

10
20

In [ ]:
A = [10,20,30,40,50,60,70,80,90]
B = []
for x in A:
  if x == 30:
    continue
  if x == 50:
    continue
  if x == 70:
    continue
  B.append(x)
  print(B)

[10]
[10, 20]
[10, 20, 40]
[10, 20, 40, 60]
[10, 20, 40, 60, 80]
[10, 20, 40, 60, 80, 90]

In [ ]:
num = [10, 20, 30, 40, 50]
mul = []  # Initialize an empty list to store the results
for i in num:
    mul.append(i * 2)
    print(mul)

[20]
[20, 40]
[20, 40, 60]
[20, 40, 60, 80]
[20, 40, 60, 80, 100]

In [ ]:
A = [10,20,30,40,50,60,70,80,90]
B = []
for x in A:
  if x not in [30,50,70]:
    B.append(x)
  print(B)

[10]
[10, 20]
[10, 20]
[10, 20, 40]
[10, 20, 40]
[10, 20, 40, 60]
[10, 20, 40, 60]
[10, 20, 40, 60, 80]
[10, 20, 40, 60, 80, 90]

In [ ]:
#range(end)
for i in range(51):
  print(i, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,

In [ ]:
#range(start:end)
for i in range(10,51):
  print(i, end=",")

10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,

In [ ]:
#range(start,end,step)
#write a program to print range of even and odd numbers up to 100?
a = int(input())
even= []
odd = []
for i in range(a):
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

In [ ]:
x = "hello world"
print(x)

hello world

#Collections

In [ ]:
#4 types of collections/ data types
#1.tuple
#2.list
#3.set
#.dictionary

In [ ]:
#1. list: [] -- is ordered, changaable(mutaable), and it allows duplicates

L1 = ["Apple","Banana","cherries","kiwi","watermelo","lemon","Orange","Orane","Apple"]
print(len(L1))
print(type(L1))

9
<class 'list'>

In [ ]:
print(L1[0])
print(L1[0:5])
print(L1[-3])
print(L1[::-1])

Apple
['Apple', 'Banana', 'cherries', 'kiwi', 'watermelo']
Orange
['Apple', 'Orane', 'Orange', 'lemon', 'watermelo', 'kiwi', 'cherries', 'Banana', 'Apple']

In [ ]:
#can we convert a list in to string
l2 = ['Apple', 'Banana', 'cherries', 'kiwi', 'watermelo']
#using the loop
for x in l2:
  print(x, end=' ')

Apple Banana cherries kiwi watermelo

In [ ]:
#changale/mutable
#change--> replace A --> B
#ADD the items in to the collection
#how to delete the itemns in a collection

In [ ]:
l2 = ['Apple', 'Banana', 'cherries', 'kiwi', 'watermelo']
l2[0]='strawberry'
print(l2)
l2[0:3] = 'mango', 'pineapple','grape'
print(l2)

['strawberry', 'Banana', 'cherries', 'kiwi', 'watermelo']
['mango', 'pineapple', 'grape', 'kiwi', 'watermelo']

In [ ]:
#adding the list
#append
l2.append("dryfruits")
print(l2)

['mango', 'pineapple', 'grape', 'kiwi', 'watermelo', 'dryfruits']

In [ ]:
#i want to add element in specific index
#insert
l2.insert(4,'lemon')
print(l2)

['mango', 'pineapple', 'grape', 'kiwi', 'lemon', 'mango', 'watermelo', 'dryfruits']

In [ ]:
#extend method
l3 = [10,20,30,40]
l2.extend(l3)
print(l2)

['mango', 'pineapple', 'grape', 'kiwi', 'lemon', 'mango', 'watermelo', 'dryfruits', 10, 20, 30, 40, 10, 20, 30, 40]

In [ ]:
l4 = ['mango', 'pineapple', 'grape', 'kiwi', 'watermelo']
l5 = [10,20]
l4.insert(2,l5)
print(l4)

['mango', 'pineapple', [10, 20], 'grape', 'kiwi', 'watermelo']

In [ ]:
#delete
l4 = ['mango', 'pineapple', 'grape', 'kiwi', 'watermelo']
l4.remove("grape")
print(l4)

['mango', 'pineapple', 'kiwi', 'watermelo']

In [ ]:
#pop
l4.pop(2)

print(l4)

['mango', 'pineapple', 'watermelo']

In [ ]:
l4.pop()
print(l4)

['mango', 'pineapple']

In [ ]:
l7 = ['mango', 'pineapple', 'grape', 'kiwi', 'watermelo']
print(l7)
del l7[1:3]
print(l7)

['mango', 'pineapple', 'grape', 'kiwi', 'watermelo']
['mango', 'kiwi', 'watermelo']

In [ ]:
#sorting can be done based on ascii number.
#ascii--->american standard code for information interchnage
l1 = ['mango',"Apple" ,'pineapple', 'grape', 'kiwi', 'watermelon']
l1.insert(1,'apple')
print(l1)

['mango', 'apple', 'Apple', 'pineapple', 'grape', 'kiwi', 'watermelon']

In [ ]:
l1.sort()
print(l1)

['Apple', 'apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
#sorting witout case sensitivity
l1.sort(reverse = False,key = str.lower)
print(l1)

['Apple', 'apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

#Tuple

In [ ]:
#tuple:-ordered, unchangable(immutable), it allow the duplicate---()

 T1=('apple', 'apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(type(T1))

<class 'tuple'>

In [ ]:
T2 = ("mango", "apple", "Apple",  "Apple", "Banana","Banana","Cherries")
print(T2)
print(len(T2))

('mango', 'apple', 'Apple', 'Apple', 'Banana', 'Banana', 'Cherries')
7

In [ ]:
#ordered
print(T2[2])
print(T2[0:2])
print(T2[::-1])

Apple
('mango', 'apple')
('Cherries', 'Banana', 'Banana', 'Apple', 'apple', 'mango')

In [ ]:
#Immutable---unchangable
# T2[2]= 'starwberry'
# print(T2)
T2.pop(2)
print(T2)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
#WHAT ARE ALL THE METHODS WE CAN APPLY ON TUPLE?
print(dir(T2))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
print(T2.count("Apple"))
print(T2.index("Apple"))

2
2

In [ ]:
#create a list by using tuple
l_t  = list(T2)
print(l_t)

['mango', 'apple', 'Apple', 'Apple', 'Banana', 'Banana', 'Cherries']

In [ ]:
t_l = tuple(l_t)
print(t_l)

('mango', 'apple', 'Apple', 'Apple', 'Banana', 'Banana', 'Cherries')

In [ ]:
#diff b/w list and tuple
#

#set

In [ ]:
#set ---> is unodered, unchangable, duplicates cannot allowed.-->{}
s1 = {'Apple',"Bannana",'Apple','cherries','pineapple','Mango','Apple','Apple','Apple'}
print(s1)

{'Mango', 'cherries', 'Bannana', 'pineapple', 'Apple'}

In [ ]:
s1_l = list(s1)
print(s1_l)

['Mango', 'cherries', 'Bannana', 'pineapple', 'Apple']

In [ ]:
s2= {'Apple',"Bannana",'cherries','pineapple','Mango'}
for x in s2:
  if x != 'Bannana':
    print(x)
#excepet bannana print all the items

Mango
cherries
pineapple
Apple

In [ ]:
#unchangable but we can add and remove
s2.add('oranges')
print(s2)

{'Mango', 'cherries', 'Bannana', 'pineapple', 'oranges', 'Apple'}

In [ ]:
s3 = (10,20,30)
s2.update(s3)
print(s2)

{'pineapple', 10, 'cherries', 20, 'Bannana', 30, 'oranges', 'Mango', 'Apple'}

In [ ]:
#remove
s2.remove('Mango')
print(s2)

KeyError: 'Mango'

In [ ]:
#discards
s2.discard('pineapple')
print(s2)

{10, 'cherries', 20, 'Bannana', 30, 'oranges', 'Apple'}

In [ ]:
3

In [ ]:
s2.pop()
print(s2)

{30, 'oranges', 'Apple'}

In [ ]:
#delte
del s2
print(s2)

NameError: name 's2' is not defined

In [ ]:
s4 = [10,20,30]
s1.update(s4)
print(s1)

{10, 20, 30}

In [ ]:
s5 = {"a","b","c","d"}
s6 = {"d","e","f","g"}
s_add = s5.union(s6)
print(s_add)

{'g', 'd', 'c', 'f', 'a', 'b', 'e'}

In [ ]:
s5 = {"a","b","c","d"}
s6 = {"d","e","f","g"}
s_add = s5.intersection(s6)
print(s_add)

{'d'}

#dictionary

In [ ]:
#what is dict?
#unordered, chnagable, donot allow duplicate
#where items stored in dict?
# key:value pair

In [ ]:
d1 ={
    "Name":"shahul",
    "age":27,
    "education":"Masters in DS",
    "education":"Btech Biome"

}
print(len(d1))
print(d1)

3
{'Name': 'shahul', 'age': 27, 'education': 'Btech Biome'}

In [ ]:
d1 ={
    "Name":"shahul",
    "age":27,
    "education":"Masters in DS",
    "education":"Btech Biome",
    "fruits": ['Mango', 'cherries', 'Bannana', 'pineapple', 'oranges', 'Apple']

}
print(type(d1))

<class 'dict'>

In [ ]:
print(d1["fruits"][0])

Mango

In [ ]:
d1['Name']="zenvius"
print(d1)

{'Name': 'zenvius', 'age': 27, 'education': 'Btech Biome', 'fruits': ['Mango', 'cherries', 'Bannana', 'pineapple', 'oranges', 'Apple']}

In [ ]:
d1['bike'] = 'interceptor'
print(d1)
#Note id their is extining key value will be updated, if not new key: value will added

{'Name': 'zenvius', 'age': 27, 'education': 'Btech Biome', 'fruits': ['Mango', 'cherries', 'Bannana', 'pineapple', 'oranges', 'Apple'], 'bike': 'interceptor'}

In [ ]:
d1.pop('fruits')
print(d1)

{'Name': 'zenvius', 'age': 27, 'education': 'Btech Biome', 'bike': 'interceptor'}

In [ ]:
d2 ={
    "Name":"shahul",
    "age":27,
    "education":"Masters in DS",
    "education":"Btech Biome",
    "fruits": ['Mango', 'cherries']

}
print(d2)

{'Name': 'shahul', 'age': 27, 'education': 'Btech Biome', 'fruits': ['Mango', 'cherries']}

In [ ]:
d2['fruits'][1] = 'kiwi'
print(d2)

{'Name': 'shahul', 'age': 27, 'education': 'Btech Biome', 'fruits': ['Mango', 'kiwi']}

In [ ]:
d2['fruits'].insert(1,'lemon')
print(d2)

{'Name': 'shahul', 'age': 27, 'education': 'Btech Biome', 'fruits': ['Mango', 'lemon', 'kiwi']}

In [ ]:
d2['fruits'].append('Rose berry')
print(d2)

{'Name': 'shahul', 'age': 27, 'education': 'Btech Biome', 'fruits': ['Mango', 'lemon', 'kiwi', 'Rose berry']}

In [ ]:
d3 = {'Name': 'shahul',
      'age': 27,
      'education': 'Btech Biome',
      'fruits': ['Mango', 'lemon', 'kiwi', 'Rose berry']}

d3.pop('fruits')
print(d3)

del d3['age']
print(d3)

d3.clear()
print(d3)

{'Name': 'shahul', 'age': 27, 'education': 'Btech Biome'}
{'Name': 'shahul', 'education': 'Btech Biome'}
{}

In [ ]:
#working with loops in dictinaray
d4 = {'Name': 'shahul',
      'age': 27,
      'education': 'Btech Biome',
      'fruits': ['Mango', 'lemon', 'kiwi', 'Rose berry']}

for x in d4.keys():
  print(x)
#print values
for x in d4.values():
  print(x)

Name
age
education
fruits
shahul
27
Btech Biome
['Mango', 'lemon', 'kiwi', 'Rose berry']

In [ ]:
a = ("hello world","hell0","hi")
print(a)
print(type(a))

('hello world', 'hell0', 'hi')
<class 'tuple'>

#Functions

In [ ]:
#whaT is function?
#A block of code which only runs when it is called
print("hello")
print(len("hello"))
print(type("hello"))

hello
5
<class 'str'>

In [ ]:
def f1():
  print("hello world")
  print("this is running with a function")
  print("=============================")

f1()

hello world
this is running with a function
=============================

In [ ]:
f1()

hello world
this is running with a function
=============================

In [ ]:
def zenvius_ds():
  print("heelo guys good morning")
  print("This is your module 2 ")
  print("please practice your sessions")

zenvius_ds()

heelo guys good morning
This is your module 2
please practice your sessions

In [ ]:
#what is diff b/w pmarameter and argument?
#CREATING A VARIABLE WHEN YOUR DEFINING A FUNCTION IS KNOWN AS PARAMETER
#CALLING THE FUNCTION WITH CERTAIN VALUES IS KNOWN AS ARGUMENTS
def details(name,AGE, sex, education):
  print(f'hello {name} and my age is {AGE} my gender is {sex}, and i have done my master in {education}')
#call function
details("shahul",'27',"male","Master in DS")

hello shahul and my age is 27 my gender is male, and i have done my master in Master in DS

In [ ]:
#WHAT do i do when i don't know how many parameters i pass?
def f1(**name):
  for x in name:
    print(f'hello, {x}!')
  print("=====================")

f1(Name = "python", last_name = "programming language")

hello, Name!
hello, last_name!
=====================

In [ ]:
def f1(**name):
  for x,y in name.items():
    print(f'{x}={y}')
f1(Name = "python", last_name = "programming language")
f1(Name = 'java', last_name = "programming language", Mobile=9937272882)

Name=python
last_name=programming language
Name=java
last_name=programming language
Mobile=9937272882

In [ ]:
print(10,20,30,40, sep='\n')

10
20
30
40

In [ ]:
def f2(name,age,gender):
  print(name,age,gender, sep='\n')
f2('shahul',27,'male')

shahul
27
male

In [ ]:
#what do i do when yoy dont know hoe to deal with no of arguments?
def f3(n1,n2,n3,n4):
  print(f'hello, {n1}')

f3('python','java','c++')

TypeError: f3() missing 1 required positional argument: 'n4'

In [ ]:
def f4(*name):
  print(name)

f4('python','java','c++',"c")

('python', 'java', 'c++', 'c')

In [ ]:
#What do i do when i don't know how many arguments do i need to give?
def f3(*name):

#Using for loop to print in separate lines

    print(name)



#call the function
f3('pyhton','java','c++')

f3('mopedo','Future tech')

In [ ]:
#What do i do when i don't know how many parameters do i need to give?

def f5(**name):

    print(name)


f5(Name = 'python', last_name= 'programming language', age = 34, type= 'dynamically typed')

{'Name': 'python', 'last_name': 'programming language', 'age': 34, 'type': 'dynamically typed'}

In [ ]:
#What do i do when i don't know how many parameters do i need to give?
def f3(**name):
#Using for loop to print in separate lines
    for x,y in name.items():
      print(f'{x} ={y}')

#call the function
f3(Name='pyhton',Last_name = ' languagae',Age = 34)

Name =pyhton
Last_name = languagae
Age =34

In [ ]:
""" *--->arbitrary arguments(arugs)--->you don't know how many arguemnts you pass
    **--->arbitrary keyword arguments(kwarugs)--> you don't know how many parameters you pass"""

In [ ]:
sum = 10

def f1(x):
  return x + sum
print(f1(5))

15

In [ ]:
#print sum of range of numbers?
N = 7
sum = 0
for i in range(1,N+1):
  #print(i)
  sum += i
print(sum)

28

#List Comprehension

In [ ]:
#list--->[]-->ordered, changle,allowduplicate

a = [1,2,3,4,5,6]
print(a[0:2])

[1, 2]

In [ ]:
#list comprehension:- it offer smaller line of code that you can use to create new list from the existing lis

In [ ]:
fruit = ["apple","banana","pineapple","mango","kiwi"]
new_list = []
for x in fruit:
  if 'a' in x:
    new_list.append(x)
print(new_list)

['apple', 'banana', 'pineapple', 'mango']

In [ ]:
fruit = ["apple","banana","pineapple","mango","kiwi"]
new_fruits = [x for x in fruit if 'a' in x]
print(new_fruits)

['apple', 'banana', 'pineapple', 'mango']

In [ ]:
#print a list without banana
fruit = ["apple","banana","pineapple","mango","kiwi"]
new_fruits = [x for x in fruit if x != "banana"]
print(new_fruits)

['apple', 'pineapple', 'mango', 'kiwi']

In [ ]:
#print a range of numbers less than 5?
a = [x for x in range(10) if x <= 5]
print(a)

[0, 1, 2, 3, 4, 5]

In [ ]:
#using of string methods
fruit = ["apple","banana","pineapple","mango","kiwi"]
fruits = [x.upper() for x in fruit ]
print(fruits)

['APPLE', 'BANANA', 'PINEAPPLE', 'MANGO', 'KIWI']

In [ ]:
#replace banana with oranage
fruit = ["apple","banana","pineapple","mango","kiwi"]
fruit[1] = 'ornage'
print(fruit)

['apple', 'ornage', 'pineapple', 'mango', 'kiwi']

In [ ]:
fruit = ["apple","banana","pineapple","mango","kiwi"]

new =[x if x != 'banana' else "orange" for x in fruit]
print(new)

['apple', 'orange', 'pineapple', 'mango', 'kiwi']

In [ ]:
#syntax for LC = [Items for items in collection conditions]

In [ ]:
#print even and odd number in range 21?

even = [x for x in range(21) if x % 2 == 0]
print(even)

odd = [x for x in range(21) if x % 2 != 0]
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
even = [x * 2 for x in range(21) if x % 2 == 0]
print(even)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

#Lamda function

In [ ]:
#what is lamda?
#is an anonymous function which can have many arguments but single expression--->its has no name

In [ ]:
def shahul():
  print("hai shahul")

shahul()

hai shahul

In [ ]:
#syntax for lambda function:
"lambda arguments: expression"

#Q)wha is an argument and expresiion?
#expression-->is some statement/ calculation/steps using that values to give single value

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
y = lambda b: b % 10
print(y(5))

5

In [ ]:
z = lambda a,b,c : a+b+c
print(z(5,6,9))

20

In [ ]:
#lets create a calculator:
def square(x):
  return x ** 2
#create cube function
def cube(x):
  return x ** 3
# cretae four to the power of
def fourth(x):
  return x ** 4
#create squaRE  root
def square_root(x):
  return x ** 0.5

print(square(2))
print(cube(4))
print(fourth(6))
print(square_root(10))

4
64
1296
3.1622776601683795

In [ ]:
def power(n):
  return lambda a : a ** n
squre  = power(2)
cube = power(3)
sq_root = power(0.5)
print(squre(2))
print(cube(4))
print(sq_root(25))

4
64
5.0

In [ ]:
x = "Amazing"
print(x)

Amazing

In [ ]:
def f1():
  print(x)
f1()

Amazing

In [ ]:
def f2():
  return (x)
print(f2())

Amazing

In [ ]:
#what is global varaible?
#creating a varible outside of the function is known as globle variable

In [ ]:
#what is a local variable?
#creating varible inside of the fucntion is known as local varible
def f3():
  x = 'fentastic'
  return x
print(f3())

fentastic

In [ ]:
#global varibles are never affected by local variables

#Map()

In [ ]:
#what maps does is?
#it uses functions on iterables
#iterables are nothing but collections-->set, tuple,dict,list

In [ ]:
#map will take a function and run it over the iterables
#functions are the "1st class object" one function can act as argument to the other function

#calculate lenth of friuts in acollection?

fruits = ["apple","banana","cherries","pinepple","organe"]
#add length of items in separate list
new_len = []
for x in fruits:
  print(x)
  new_len.append(len(x))
print(new_len)

apple
banana
cherries
pinepple
organe
[5, 6, 8, 8, 6]

In [ ]:
length_new = [len(a) for a in fruits]
print(length_new)

[5, 6, 8, 8, 6]

In [ ]:
#map will runs a function over the iterables
#syntax = map(function, iterables)
#before excuting map we need to decide weater you want o/p in list,tuple ,set
length = list(map(len,fruits))
print(length)

[5, 6, 8, 8, 6]

In [ ]:
#mostly used when you take the input()

In [ ]:
user = input()
print(type(user))

1,2,3,4,5,6,7,8,9
<class 'str'>

In [ ]:
user = input().split()
print(user)
print(type(user))
#how to convert string in to integer

1,2,3,4,5,6,7,8,9
['1,2,3,4,5,6,7,8,9']
<class 'list'>

In [ ]:
user = input().split()
number =[]
for x in user:
  number.append(int(x))
print(number)
print(type(number))

10 20 30 40
[10, 20, 30, 40]
<class 'list'>

In [ ]:
num = tuple(map(int,user))
print(num)

(10, 20, 30, 40)

In [ ]:
#how can i print  in double?
user = input().split()
double = tuple(map(lambda a : a*2, map(int,user)))
print(double)

10 20 30 40
(20, 40, 60, 80)

In [ ]:
a = [1,2,3,4,5,6]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

#filletr ()

In [ ]:
#syntax --> collection(fileter(function,iterables))
age = [12,15,16,18,45,21,18,17,56,23,35,15,8,10]
#i want ages of adult
def adult(x):
  if x >= 18:
    return True
  else:
    return False

# print(adult(18))

True

In [ ]:
m1 = list(map(adult,age))
print(m1)

[False, False, False, True, True, True, True, False, True, True, True, False, False, False]

In [ ]:
#note:- same like in map if we want to display output we need decide the collection
f1 = list(filter(adult,age))
print(f1)

[18, 45, 21, 18, 56, 23, 35]

In [ ]:
"""Note:- filter basically filters your orginal collection that returns true or false ,if values that comes
out to be true it will be stored in a collection that we decided"""

In [ ]:
#let's create the Class
#use key word Class

# class customer:
#     Bank_name = 'HFC Bnak'
#     Branch    = 'Mubai'
#     state     = 'Maharstra'
#     IFSc      ='hfc0000234'
# #create an method
#     def welcome(self):
#         print('hello and welcome to hfc bank')
#
# #create an object
# c1 = customer()
# c2 = customer()
# c3=customer()
# c1.welcome()
# c2.welcome()
# c3.welcome()
#
# print(c1.Bank_name)
# print(c1.IFSc)

#Attributes are divided intp 2 types
#1.class attributes --->applicible to any object
#2.object attributes-->unique properties applicable to particular object
#when you create an object by default it runs with  __init__

class customer:
    Bank_name = 'HFC Bnak'
    Branch    = 'Mubai'
    state     = 'Maharstra'
    IFSc      ='hfc0000234'
    def __init__(self,name,age,intial_amount,acc_No):
        self.name = name
        self.age = age
        self.intial_amount = intial_amount
        self.acc_No = acc_No
    def welcome(self):
        print(f'hello {self.name} and welcome to {self.Bank_name}, {self.Branch}!!!'
              f'your current balance is {self.intial_amount}')
    def check_balance(self):
        print(f'your current balance is {self.intial_amount}')
    def deposit(self,amount):
        self.intial_amount += amount   #--->  self.balance = self.balance + amount
        print(f"Transaction colpeted."
              f'{amount} has been credited to your {self.Bank_name} account no {self.acc_No}'
              f'updated balace: {self.intial_amount}')
    def withdraw(self, amount):
        if amount <= self.intial_amount:
            self.intial_amount -= amount  # --->  self.balance = self.balance - amount
            print(f"Transaction colpeted."
              f'{amount} has been debited from your {self.Bank_name} account no {self.acc_No}'
              f'updated balace: {self.intial_amount}')
        else:
            print("Insuficient funds")
            self.check_balance()
#create an object
c1 = customer("python", 36, 10000, 123456727)
# c2 = customer("java",54,5000)
# print(c1.intial_amount)
# print(c2.intial_amount)
# c1.deposit(10000)
# c1.withdraw(25000)

#to call the object attribute--> objectname.attribute




x = "hello word"
print(dir(x))

#File handling

In [ ]:
#handling a certain file which is not python
#ex-excel,pdf,word
#open()-->funtion
#open(filename,mode)
#what are all the modes of file handling
#4 modes---> r, w, a, x

f = open('//content//sample_data//README.md','r')
f.close()
print(f)

<_io.TextIOWrapper name='//content//sample_data//README.md' mode='r' encoding='UTF-8'>

#reading an excel file

In [ ]:
f = open("//Copy of bangalore_cars.xlsx")
print(f.read())
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9d in position 54: invalid start byte

In [ ]:
#xlrd -->to read xls document import xlrd package
#convert xlsx format to xls format
import xlrd
loc = "//content/file_example_XLS_10.xls"
wb = xlrd.open_workbook(loc)
sheet = wb.sheet_by_index(0)


      #read data
#how many rows and howmany columns
print(sheet.nrows)
print(sheet.ncols)
#read particular cell
print(sheet.cell_value(2,3))  #(2,3)---> 2 is row value and 3 is cloumn value
#print entire row
print(sheet.row_values(0))
print(sheet.col_values(1))
#extract all the data

for x in range(sheet.nrows):
    print(sheet.row_values(x))

Abril
10
8
Female
[0.0, 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id']
['First Name', 'Dulce', 'Mara', 'Philip', 'Kathleen', 'Nereida', 'Gaston', 'Etta', 'Earlean', 'Vincenza']
[0.0, 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id']
[1.0, 'Dulce', 'Abril', 'Female', 'United States', 32.0, '15/10/2017', 1562.0]
[2.0, 'Mara', 'Hashimoto', 'Female', 'Great Britain', 25.0, '16/08/2016', 1582.0]
[3.0, 'Philip', 'Gent', 'Male', 'France', 36.0, '21/05/2015', 2587.0]
[4.0, 'Kathleen', 'Hanner', 'Female', 'United States', 25.0, '15/10/2017', 3549.0]
[5.0, 'Nereida', 'Magwood', 'Female', 'United States', 58.0, '16/08/2016', 2468.0]
[6.0, 'Gaston', 'Brumm', 'Male', 'United States', 24.0, '21/05/2015', 2554.0]
[7.0, 'Etta', 'Hurn', 'Female', 'Great Britain', 56.0, '15/10/2017', 3598.0]
[8.0, 'Earlean', 'Melgar', 'Female', 'United States', 27.0, '16/08/2016', 2456.0]
[9.0, 'Vincenza', 'Weiland', 'Female', 'United States', 40.0, '21/05/2015', 6548.0]

#Iterators

In [ ]:
#it helps you in taking the large amount of data in to small memory
#means it breaks the data  in to tiny chunks
#create a list that zero to infinite?
fruits = ["apple","banana",'cherry',"kiwi"]
for x in fruits:
  print(x)

apple
banana
cherry
kiwi

In [ ]:
#2 types of iterators
#1.__iter__()
#2.__next__()

In [ ]:
x = iter(fruits)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
# print(next(x))

apple
banana
cherry
kiwi

In [ ]:
#u can create your iters by uing classes and object

class Number:
  def __iter__(self):
    self.initial = 0
    return self
  def __next__(self):
    x = self.initial
    self.initial += 1
    return x

n = Number()

for x in n:
  print(x)

In [ ]:
n = Number()
x = iter(n)
print(next(x))
print(next(x))
print(next(x))

0
1
2